html, body {
    height: 100%;
    margin: 0;
    font-family: monospace;
  }

  body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .counter {
    color: white;
    font-size: 42px;
    margin-bottom: 1em;
    text-align: center;
  }

  .timer {
    color: white;
    font-size: 18px;
    margin-bottom: 1em;
    text-align: center;
  }

  .scoreboard {
    height: 100vh;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .button {
    text-decoration: none !important;
    margin-top: 2em;
    background-color: rgb(4, 51, 255);
    border: none;
    outline: none;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    max-width: 500px;
    min-height: 40px;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    color: white;
  }

  .input {
    outline: none;
    width: 100%;
    max-width: 500px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    color: white;
    text-align: center;
    border: none;
    background-color: rgb(41, 41, 41);
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2em;
  }

  .input-label {
    font-size: 16px;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  .no-scoreboard {
    margin: 2em auto;
    text-align: center;
  }

  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
  }

  .action-button {
    text-decoration: none !important;
    margin: 2em 2em;
    background-color: green;
    border: none;
    outline: none;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    color: white;
  }

  .game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .health {
    background-color: blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto 1em;
  }

  .health-container {
    display: flex;
  }

  .two-column-list {
    -webkit-column-count: 2;  /* Chrome/Opera, Safari */
    -moz-column-count: 2; /* Mozilla Firefox */
    column-count: 2;

    -webkit-column-gap: 75px; /* Chrome/Opera, Safari */
    -moz-column-gap: 75px; /* Mozilla Firefox */
    column-gap: 75px;
  }

  li { 
    color: white; 
    padding-left: 16px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 20px;
  }
  li:first-of-type { 
    margin-top: 0px;
  }
  
  .count-down {
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
    font-size: 160px;
    font-weight: bold;
  }

.checkbox-wrapper-19 {
 box-sizing: border-box;
 --checkbox-height: 25px;
}

@-moz-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@-webkit-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-webkit-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-moz-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

.checkbox-wrapper-19 input[type=checkbox] {
  display: none;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * .1) solid #FFF;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * .2);
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}
.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * .72);
  left: calc(var(--checkbox-height) * .41);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * .37);
  left: calc(var(--checkbox-height) * .05);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: #34b93d;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}
