html, body {
    height: 100%;
    margin: 0;
    font-family: monospace;
  }

  body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .counter {
    color: white;
    font-size: 42px;
    margin-bottom: 1em;
    text-align: center;
  }

  .timer {
    color: white;
    font-size: 18px;
    margin-bottom: 1em;
    text-align: center;
  }

  .score-board {
    height: 100vh;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .button {
    text-decoration: none !important;
    margin-top: 2em;
    background-color: rgb(4, 51, 255);
    border: none;
    outline: none;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    max-width: 500px;
    min-height: 40px;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    color: white;
  }

  .input {
    outline: none;
    width: 100%;
    max-width: 500px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    color: white;
    text-align: center;
    border: none;
    background-color: rgb(41, 41, 41);
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2em;
  }

  .input-label {
    font-size: 16px;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  .no-scoreboard {
    margin: 2em auto;
    text-align: center;
  }

  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
  }

  .action-button {
    text-decoration: none !important;
    margin: 2em 2em;
    background-color: green;
    border: none;
    outline: none;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    color: white;
  }

  .game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .health {
    background-color: blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto 1em;
  }

  .health-container {
    display: flex;
  }

  .two-column-list {
    -webkit-column-count: 2;  /* Chrome/Opera, Safari */
    -moz-column-count: 2; /* Mozilla Firefox */
    column-count: 2;

    -webkit-column-gap: 75px; /* Chrome/Opera, Safari */
    -moz-column-gap: 75px; /* Mozilla Firefox */
    column-gap: 75px;
  }

  li { 
    color: white; 
    padding-left: 16px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 20px;
  }
  li:first-of-type { 
    margin-top: 0px;
  }
  
  .count-down {
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 160px;
    font-weight: bold;
  }